html{
    scroll-behavior: smooth;
}


*{
    margin: 0%;
}

 body { 
    padding-top: 70px;  
    margin:0; 
        
    padding:0;
    overflow-x:hidden;
        
} 

.nav{
    height: 70px;
    text-align: right;
    /* position: fixed; */
    top: 0%;
    width: 100%;
    /* position: sticky; */
    background-color: #14D1DD;
    
    
}
.nav a{
    padding: 30px 35px;
    text-decoration: none;
    margin:0%;
    margin-right: 50px;
    color: black;
    position: relative;right: 5px;top: 28px;
    
    
}
.name{
    font-size: 40px;
    
}

.columnleft {
    float: left;
    width: 40%;
    position: relative;
    left: 150px;
    top: 2px;
    position: relative;left: 70px;top: 2px;

  }
.columnright {
    float: left;
    width: 50%;
    display: flex;
    padding-top: 12%;
    position: relative;left: 70px;top: 2px;
  }
  
.home:after {
    content: "";
    display: table;
    clear: both;
  }
  #span{
      font-weight: 900;
}
#section1{
    height: 630px;
    display: inline-block;
    width: 100%;

}
#section2{
    height: 600px;
    display: inline-block;
    width: 100%;
    background-color: #14D1DD;
    
}
#section3{
    height: 600px;
    display: inline-block;
    width: 100%;
  
    
}
#section4{
    height: 600px;
    display: inline-block;
    width: 100%;
    background: white; 
    align-items: center;
    

  
    
}
.about{
    text-align: center;
    margin-top: 30px;
}
.myprojects{
    text-align: center;
    margin-top: 30px;  
}
.contacts{
    text-align: center;
    margin-top: 30px;
}
.na{
    height: 70px;
    width: 70%;
    align-items: center;
 margin: 20px;
    
}
.ne{
    height: 180px;
    width: 70%;
    align-items: center;
 margin: 20px;
    
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    background-color: #14D1DD;
  }
  input[type=submit] {
    background-color: #14D1DD;
    color:black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  input[type=submit]:hover {
    background-color: #14D1DD;
  }
  
  .container {
    border-radius: 5px;
    background-color: #14D1DD;
    padding: 20px;
  }
  .column {
    float: left;
    width: 40%;
    padding: 10px;
    height: 200px;
    padding-top: 10px; 
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
    padding: 10px;
  }



